export APP_ROOT=$(pwd)
export PATH=$APP_ROOT/bin:$PATH

export DOCKER_WRAPPER_IMAGE_node=8.4.0

export DOCKER_WRAPPER_SERVER_OPTS_livereload="-p ${LABO_PORT_PREFIX}80:8000 -p ${LABO_PORT_PREFIX}29:${LABO_PORT_PREFIX}29 -e LABO_PORT_PREFIX=$LABO_PORT_PREFIX"

export DOCKER_WRAPPER_LOGS_TARGET=lr
